scritta su schermo
[{"id":"ec1ff6f9.82a2c8","type":"ui_text_input","z":"b7316696.0817e8","name":"","label":"Carica Testo","tooltip":"","group":"724d2198.c98ea","order":5,"width":"3","height":"3","passthru":true,"mode":"text","delay":"0","topic":"","x":270,"y":260,"wires":[["cfa0cc25.a66f2"]]},{"id":"ee3ed596.5bf6b8","type":"delay","z":"b7316696.0817e8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":60,"wires":[["f18ac963.11c978","b94bd28.06d623"]]},{"id":"57837f8.139858","type":"serial out","z":"b7316696.0817e8","name":"","serial":"2e1541ae.ec619e","x":810,"y":260,"wires":[]},{"id":"f18ac963.11c978","type":"function","z":"b7316696.0817e8","name":"Spegni","func":"msg.payload = \"spegni\";\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":60,"wires":[["57837f8.139858"]]},{"id":"b94bd28.06d623","type":"function","z":"b7316696.0817e8","name":"Sbianca","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":260,"wires":[["ec1ff6f9.82a2c8"]]},{"id":"a6b3b514.b69a48","type":"mqtt in","z":"b7316696.0817e8","name":"","topic":"/TestoInput","qos":"2","datatype":"auto","broker":"6582f4b3.ae590c","x":580,"y":260,"wires":[["ee3ed596.5bf6b8","57837f8.139858"]]},{"id":"cfa0cc25.a66f2","type":"mqtt out","z":"b7316696.0817e8","name":"","topic":"/TestoInput","qos":"","retain":"","broker":"6582f4b3.ae590c","x":430,"y":260,"wires":[]},{"id":"724d2198.c98ea","type":"ui_group","z":"","name":"Sensori1","tab":"e209593d.a67e28","disp":true,"width":"6","collapse":false},{"id":"2e1541ae.ec619e","type":"serial-port","z":"","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"6582f4b3.ae590c","type":"mqtt-broker","z":"","name":"Raspberry","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e209593d.a67e28","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
