sensori via seriale
[{"id":"7ac0e6f9.d5b318","type":"json","z":"b7316696.0817e8","name":"sensori","property":"payload","action":"","pretty":false,"x":680,"y":620,"wires":[["9106814e.8361d","76b2027.1f833fc","a521f71b.05bcc8","aa18b47.b3f7448"]],"outputLabels":["payload"]},{"id":"9106814e.8361d","type":"function","z":"b7316696.0817e8","name":"estrai luminosita","func":"var t = msg.payload.sensori[0].luminosita;\nmsg.payload = t;\nreturn msg;\n","outputs":1,"noerr":0,"x":960,"y":420,"wires":[["dd66ecfa.f7fcc"]]},{"id":"76b2027.1f833fc","type":"function","z":"b7316696.0817e8","name":"estrai umidita","func":"var t = msg.payload.sensori[0].umidita;\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":500,"wires":[["7aeadd5c.081294"]]},{"id":"a521f71b.05bcc8","type":"function","z":"b7316696.0817e8","name":"estrai temperatura","func":"var t = msg.payload.sensori[0].temperatura;\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":600,"wires":[["610a172d.e885c8"]]},{"id":"7aeadd5c.081294","type":"ui_gauge","z":"b7316696.0817e8","name":"","group":"724d2198.c98ea","order":4,"width":0,"height":0,"gtype":"wave","title":"Umidità","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"75","x":1140,"y":500,"wires":[]},{"id":"610a172d.e885c8","type":"ui_gauge","z":"b7316696.0817e8","name":"","group":"724d2198.c98ea","order":3,"width":0,"height":0,"gtype":"wave","title":"Temperatura","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"30","x":1150,"y":600,"wires":[]},{"id":"dd66ecfa.f7fcc","type":"ui_gauge","z":"b7316696.0817e8","name":"","group":"724d2198.c98ea","order":2,"width":"0","height":"0","gtype":"wave","title":"Luminosità","label":"lumen","format":"{{value}}","min":0,"max":"1000","colors":["#32b552","#e6e600","#ca3838"],"seg1":"400","seg2":"800","x":1150,"y":420,"wires":[]},{"id":"f3a859f5.8c8ea8","type":"mqtt out","z":"b7316696.0817e8","name":"","topic":"/Sensori1","qos":"","retain":"","broker":"6582f4b3.ae590c","x":360,"y":560,"wires":[]},{"id":"80f8b2e4.caafe","type":"mqtt in","z":"b7316696.0817e8","name":"","topic":"/Sensori1","qos":"2","datatype":"auto","broker":"6582f4b3.ae590c","x":500,"y":560,"wires":[["3b1af2d8.6d408e"]]},{"id":"aa18b47.b3f7448","type":"function","z":"b7316696.0817e8","name":"ID","func":"var t = msg.payload.sensori[0].ID;\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":680,"wires":[[]]},{"id":"3b1af2d8.6d408e","type":"switch","z":"b7316696.0817e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"scelta","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":560,"wires":[["7ac0e6f9.d5b318"]]},{"id":"f5879825.df9be8","type":"function","z":"b7316696.0817e8","name":"","func":"var scelta = msg.payload;\nflow.set('scelta',scelta);\nvar sensoriVuoti = \"{\\\"sensori\\\":[{\\\"luminosita\\\": 0,\\\"umidita\\\": 0,\\\"temperatura\\\": 0,\" + scelta  +\"}]}\";\nmsg.payload = sensoriVuoti;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":620,"wires":[["f3a859f5.8c8ea8"]]},{"id":"c8555518.84f988","type":"ui_dropdown","z":"b7316696.0817e8","name":"","label":"ID","tooltip":"","place":"Select option","group":"724d2198.c98ea","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Scheda 1","value":"\"ID\": 1","type":"str"},{"label":"Scheda 2","value":"\"ID\": 2","type":"str"},{"label":"Scheda 3","value":"\"ID\": 3","type":"str"}],"payload":"","topic":"","x":70,"y":620,"wires":[["f5879825.df9be8"]]},{"id":"3b7ce2df.47406e","type":"serial in","z":"b7316696.0817e8","name":"","serial":"5fcb1685.17f0c8","x":70,"y":540,"wires":[["f3a859f5.8c8ea8"]]},{"id":"724d2198.c98ea","type":"ui_group","z":"","name":"Sensori1","tab":"e209593d.a67e28","disp":true,"width":"6","collapse":false},{"id":"6582f4b3.ae590c","type":"mqtt-broker","z":"","name":"Raspberry","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5fcb1685.17f0c8","type":"serial-port","z":"","serialport":"14201","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"e209593d.a67e28","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
