NodeRed Clipboard/CartaMagnetica
[{"id":"c267b46d.2d9c48","type":"mqtt in","z":"b7316696.0817e8","name":"","topic":"/Rfid","qos":"2","datatype":"auto","broker":"6582f4b3.ae590c","x":590,"y":800,"wires":[["b5ab1669.7cecc8"]]},{"id":"67140129.601f5","type":"mqtt out","z":"b7316696.0817e8","name":"","topic":"/Rfid","qos":"","retain":"","broker":"6582f4b3.ae590c","x":450,"y":800,"wires":[]},{"id":"2b3e7d1d.c7de12","type":"function","z":"b7316696.0817e8","name":"ID","func":"var t = msg.payload.Tag[0].ID;\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":800,"wires":[["678dabd3.27df84"]]},{"id":"69d0eae4.a72c14","type":"json","z":"b7316696.0817e8","name":"Tag","property":"payload","action":"","pretty":false,"x":830,"y":800,"wires":[["2b3e7d1d.c7de12","f0acc8b2.5e7818"]]},{"id":"f0acc8b2.5e7818","type":"function","z":"b7316696.0817e8","name":"Messaggio","func":"var t = msg.payload.Tag[0].Messaggio;\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":880,"wires":[["ce81e7d4.c84f48"]]},{"id":"678dabd3.27df84","type":"ui_text","z":"b7316696.0817e8","group":"bce2f904.a41388","order":2,"width":0,"height":0,"name":"","label":"ID=","format":"{{msg.payload}}","layout":"row-left","x":1150,"y":800,"wires":[]},{"id":"ce81e7d4.c84f48","type":"ui_text","z":"b7316696.0817e8","group":"bce2f904.a41388","order":3,"width":0,"height":0,"name":"","label":"Messaggio=","format":"{{msg.payload}}","layout":"row-left","x":1210,"y":880,"wires":[]},{"id":"3355a14b.d4dcae","type":"serial in","z":"b7316696.0817e8","name":"","serial":"2e1541ae.ec619e","x":90,"y":800,"wires":[["67140129.601f5","e924964e.8b8ca8"]]},{"id":"5a8df97f.9ab9f8","type":"function","z":"b7316696.0817e8","name":"","func":"msg.payload = \"{\\\"Tag\\\":[{\\\"Rilevatore\\\": \\\"\\\",\\\"Messaggio\\\": \\\"\\\",\\\"ID\\\": \\\"\\\"}]}\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":940,"wires":[["67140129.601f5"]]},{"id":"e924964e.8b8ca8","type":"delay","z":"b7316696.0817e8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":940,"wires":[["5a8df97f.9ab9f8"]]},{"id":"b5ab1669.7cecc8","type":"function","z":"b7316696.0817e8","name":"","func":"var t = msg.payload.Tag[0].ID;\nif ( t == \" 53 72 ED 8B \")\n{\n    msg.payload = \"{\\\"Tag\\\":[{\\\"Rilevatore\\\": \\\"\\\",\\\"Messaggio\\\": \\\"Autorizzato\\\",\\\"ID\\\": \\\"\\\"}]}\";\n}\nelse \n{\n    msg.payload = \"{\\\"Tag\\\":[{\\\"Rilevatore\\\": \\\"\\\",\\\"Messaggio\\\": \\\"Non autorizzato\\\",\\\"ID\\\": \\\"\\\"}]}\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":800,"wires":[["69d0eae4.a72c14"]]},{"id":"6582f4b3.ae590c","type":"mqtt-broker","z":"","name":"Raspberry","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bce2f904.a41388","type":"ui_group","z":"","name":"Rfid","tab":"e209593d.a67e28","disp":true,"width":"6","collapse":false},{"id":"2e1541ae.ec619e","type":"serial-port","z":"","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"e209593d.a67e28","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
