NodeRed Clipboard/DaSensoriAEmonCMS
[{"id":"f4b17a15.f22708","type":"http request","z":"b7316696.0817e8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":1870,"y":700,"wires":[["a126009a.ce3ea"]]},{"id":"f4f81b9e.b40378","type":"function","z":"b7316696.0817e8","name":"funzione","func":"var a = msg.payload.sensori[0].luminosta;\nvar b = msg.payload.sensori[0].umidita;\nvar c = msg.payload.sensori[0].temperatura;\nvar url = \"http://raspberrypi/emoncms/input/post?node=sensori&fulljson={%22luminosita%22:\"+a+\",%22umidita%22:\"+b+\",%22temperatura%22:\"+c+\"}&apikey=ead47b05771b9a3779e6b2c28b5f3522\";\nmsg.payload = url; \nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":700,"wires":[["2aebe646.a808ba"]]},{"id":"ec1697d8.d3d5f8","type":"mqtt in","z":"b7316696.0817e8","name":"","topic":"/Sensori1","qos":"2","datatype":"auto","broker":"6582f4b3.ae590c","x":1280,"y":700,"wires":[["e2cb43c8.454e"]]},{"id":"e2cb43c8.454e","type":"json","z":"b7316696.0817e8","name":"sensori","property":"payload","action":"","pretty":false,"x":1420,"y":700,"wires":[["f4f81b9e.b40378"]],"outputLabels":["payload"]},{"id":"2aebe646.a808ba","type":"change","z":"b7316696.0817e8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":700,"wires":[["f4b17a15.f22708"]]},{"id":"a126009a.ce3ea","type":"debug","z":"b7316696.0817e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2030,"y":700,"wires":[]},{"id":"6582f4b3.ae590c","type":"mqtt-broker","z":"","name":"Raspberry","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
