NodeRed Clipboard/DaSerialeAEmonCMS
[{"id":"60af974c.ac3ba8","type":"serial in","z":"b7316696.0817e8","name":"","serial":"ad11d3da.b412e","x":950,"y":60,"wires":[["7d4072d6.6c9f5c"]]},{"id":"18b65abb.39f225","type":"json","z":"b7316696.0817e8","name":"","property":"payload","action":"","pretty":false,"x":1170,"y":180,"wires":[["67c9bdca.76bd34"]]},{"id":"67c9bdca.76bd34","type":"function","z":"b7316696.0817e8","name":"funzione","func":"var a = msg.payload.sensori[0].luminosita;\nvar b = msg.payload.sensori[0].umidita;\nvar c = msg.payload.sensori[0].temperatura;\nvar url = \"http://raspberrypi/emoncms/input/post?node=sensori2&fulljson={%22luminosita2%22:\"+a+\",%22umidita2%22:\"+b+\",%22temperatura2%22:\"+c+\"}&apikey=ead47b05771b9a3779e6b2c28b5f3522\";\nmsg.payload = url; \nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":180,"wires":[["a87fe202.44f33"]]},{"id":"a87fe202.44f33","type":"change","z":"b7316696.0817e8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":180,"wires":[["4582c846.35d4b8"]]},{"id":"4582c846.35d4b8","type":"http request","z":"b7316696.0817e8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":1690,"y":180,"wires":[["ef9b6b9e.4b0a98"]]},{"id":"ef9b6b9e.4b0a98","type":"debug","z":"b7316696.0817e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1890,"y":180,"wires":[]},{"id":"b6929657.41f0b8","type":"mqtt in","z":"b7316696.0817e8","name":"","topic":"/Sensori2","qos":"2","datatype":"auto","broker":"6582f4b3.ae590c","x":1280,"y":60,"wires":[["18b65abb.39f225"]]},{"id":"7d4072d6.6c9f5c","type":"mqtt out","z":"b7316696.0817e8","name":"","topic":"/Sensori2","qos":"","retain":"","broker":"6582f4b3.ae590c","x":1120,"y":60,"wires":[]},{"id":"ad11d3da.b412e","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"6582f4b3.ae590c","type":"mqtt-broker","z":"","name":"Raspberry","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
